@font-face {
	font-family: 'Dream Avenue';
	src: url('../fonts/fonnts.com-Dream_Avenue.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'TT Drugs';
	src: url('../fonts/TT_Drugs_Trial_Condensed_Thin.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 1000px;
    height: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-container h2 {
    font-size: 24px;
    margin-bottom: 60px;
    margin-top: 30px;
    font-family: 'TT Drugs';
    color: rgb(61, 61, 61);
  }
  
  .contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-image img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .contact-info {
    display: flex;
    flex-wrap: wrap; 
    gap: 50px; 
    font-family: 'TT Drugs';
    color: rgb(61, 61, 61);
    font-size: 22px;
}

.contact-info > div {
    flex: 1 1 21%; 
    min-width: 200px; 
    box-sizing: border-box; 
}
  .contact-info p {
    margin: 10px 0;
  }
  .contact-info p:hover {
    margin: 10px 0;
    
  }
  
  .contact-info img {
    vertical-align: middle;
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  
  .contact-info a {
    text-decoration: none;
  }
  
  .contact-info a:hover {
    color: #202020;
  }
