@font-face {
	font-family: 'Dream Avenue';
	src: url('../fonts/fonnts.com-Dream_Avenue.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'TT Drugs';
	src: url('../fonts/TT_Drugs_Trial_Condensed_Thin.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    max-width: 800px;
    margin: 50px auto;
    border-radius: 20px;
    background: rgb(255, 255, 255); /* Frosted glass effect */
    backdrop-filter: blur(10px); /* Background blur */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-height: 800px;
}

.contact-container:hover {
    transform: translateY(-10px); /* Elevate on hover */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}


.contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-image img {
    width: 100%;
    max-width: 700px;
    border-radius: 15px;
    margin-bottom: 30px;
    max-height: 350px;
    margin-top: 10%;
}

.contact-info {
    display: flex;
    
    flex-direction: row;
    align-items: center;
    gap: 40px; 
    font-family: 'TT Drugs';
    color: #535353;
    
    transition: color 0.3s ease;
    margin-top: 10%;
    justify-content: center;
    text-align: center;
}



.contact-info > div {
    flex: 1 1 21%; 
    min-width: 220px; 
    box-sizing: border-box;
    padding: 10px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    transition: 0.3s ease, box-shadow 0.3s ease;
    margin-top: 10%;
}

.contact-info > div:hover {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.contact-info p {
    margin: 5px 0;
    font-size: 120%;
}

.contact-info img {
    vertical-align: middle;
    margin-right: 15px;
    width: 25px;
    height: 25px;
}

.contact-info a {
    text-decoration: none;
    color: #3d3d3d;
    transition: color 0.3s ease;
}

.contact-info a:hover {
    color: #ffcebf;
}
.contact-container.dark-theme  {
    background-color: rgba(27, 27, 27, 0.85);
    backdrop-filter: blur(10px);
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.contact-info p{
    color: #141414;
    background-color: #ffffff;
    padding: 8%;
    border-radius: 2%;
    width: 100%;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.10);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.days{
    background-color: #0a0a0a !important;
    color: white !important;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.10);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Responsive styles */
@media (max-width: 768px) {
    .contact-container {
        padding: 25px;
        height: auto; 
        background-color: white;
    }
    .contact-container h2 {
        font-size: 24px;
        margin-bottom: 30px;
    }
    .contact-info {
        gap: 30px; 
        font-size: 18px;
        flex-direction: column;
    }
    .contact-info > div {
        flex: 1 1 45%; 
    }
    .contact-info p{
        color: #0a0a0a;
        background-color: #ffffffe1;
        padding: 8%;
        border-radius: 2%;
        width: 100%;
        margin: -5%;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.10);
    border: 1px solid rgba(255, 255, 255, 0.3);
    }
}

@media (max-width: 480px) {
    .contact-container {
        padding: 15px;
        height: auto; 
    }
    .contact-container h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .contact-info {
      margin-top: 20px;
      gap: 20px;
      font-size: 16px;
      
    }
    .contact-info > div {
        flex: 1 1 100%;
        text-align: center;
    }
    .contact-info img {
        width: 20px;
        height: 20px;
    }
    
.contact-info p {
    margin: 10px 0;
    font-size: 100%;
}
}
